/* Adds 'sticky' navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

#navbar {
    padding: none;
    margin: none;
    z-index: 4;
}

/* Main navbar */

.flexbar {
    display: flex;
}

.tabl {
    flex: 1;
    transition: .1s;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: bolder;
}

.tabl:hover {
    background-color: silver;
    color: #224;
}

/* In-tab elements */

.bios {
    margin-left: 30%; 
    text-align: left
}

.bio-image {
    margin-left: 10%; 
    padding-right: 5%;
    float:left; 
    height: 200px; 
    width: 200px;
}

.update-date {
    padding-left: 10%;
    text-decoration: underline;
    text-align: left;
}


#bordered {
    border-left: 200px solid #224;
    border-right: 200px solid #224;
}

/* Slideshow for larger screens */

#slideshow-bob {
    width: 100%;
    height: 820px;
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 0;
    position: relative;
    background-repeat: no-repeat;
    z-index: -1;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.visible-slide {
    opacity: 1;
}

.slide:nth-of-type(1) {
    background-image: url("../Pictures/banner2.jpg");
}
.slide:nth-of-type(2) {
    background-image: url("../Pictures/IMG_2358.jpg");
}
.slide:nth-of-type(3) {
    background-image: url("../Pictures/IMG_2359.jpg");
}
.slide:nth-of-type(4) {
    background-image: url("../Pictures/IMG_2380.jpg");
}
.slide:nth-of-type(5) {
    background-image: url("../Pictures/IMG_2363.jpg");
}
.slide:nth-of-type(6) {
    background-image: url("../Pictures/IMG_2357.jpg");
}

#scrollDown {
    margin: 0 auto;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
    font-family: Georgia, Times, serif;
    border: 5px solid #224;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: #224;
    color: white;
    z-index: 1;
}

.invisible-sd {
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.visible-sd {
    opacity: 1;
}

@media only screen and (max-width: 700px) {

    p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: .9em;
        color: #224;
    }

    #home h1 {
        display: none;
    }

    a.contact-links {
        color: #224;
    }

    .masthead {
        text-align: center;
        padding-bottom: .5em;
    }

    #slideshow-bob {
        height: 200px;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        list-style-type: none;
        display: block;
    }

    .slide {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        display: block;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0;
    
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }

    .visible-slide {
        opacity: 1;
    }

    .slide:nth-of-type(1) {
        background-image: url("../Pictures/banner2.jpg");
    }
    .slide:nth-of-type(2) {
        background-image: url("../Pictures/IMG_2358.jpg");
    }
    .slide:nth-of-type(3) {
        background-image: url("../Pictures/IMG_2359.jpg");
    }
    .slide:nth-of-type(4) {
        background-image: url("../Pictures/IMG_2380.jpg");
    }
    .slide:nth-of-type(5) {
        background-image: url("../Pictures/IMG_2363.jpg");
    }
    .slide:nth-of-type(6) {
        background-image: url("../Pictures/IMG_2357.jpg");
    }

    h2.covid {
        margin-top: 0;
        padding-top: 10px;
    }

    #scrollDown {
        opacity: 0;
    }

    #bordered {
        border-left: 20px solid #224;
        border-right: 20px solid #224;
    }

    /* Navbar */

    .flexbar {
        overflow: hidden;
        position: relative;
        z-index: 4;
    }

    #mobile-menu {
        background-color: #224;
        color: white;
        display: block;
    }
    
    .tabl {
        width: 100%;
        border: none;
        display: none;
    }

    .tabl:hover {
        color: #224;
        background-color: silver;
    }

    #KFD {
        font-size: 7vw;
    }

    /* Tab-specific elements */

    .bio-image {
        width: 75%;
    }

    .accordion {
        width: 100%;
        text-align: left;
        padding: 2em;
    }

    .accpanel {
        padding-left: 0;
        padding-right: 0;
    }

    #map {
        width: 100%;
    }

    #contact {
        opacity: 0;
    }
}

@media only screen and (min-width: 701px) {
    #mobile-menu {
        display: none;
    }
}