body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h1, h2, #contact {
    text-align: center;
}

.covid {
    color: #c00000;
}

#contact {
    padding: 40px 0;
}

#main-header {
    background-color: #224;
}

.page-header {
    max-width: 1800px;
    color: white;
    background-color: #224;
    margin: auto;
    padding: 25px;
    font-size: 44px;
}

#navbar {
    margin: auto;
    max-width: 1800px;
    background-color: #224;
    display: flex;
}

#mobile-menu {
    display: none;
}

.tabl {
    width: 16.666666%;
    padding: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: #224;
    color: white;
    transition: .1s;
    cursor: pointer;
}

.tabl:hover, .tabl.active {
    color: #224;
    background-color: silver;
}

.tabl-content {
    display: flex;
    margin: auto;
}

.tabl-content>span {
    padding-left: 10px;
}

#bordered {
    max-width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 70vh;
    font-size: 20px;
    background-color: white;
}

.tab-content {
    padding: 0 80px;
}

#slideshow-bob {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.slide {
    height: 70vh;
    width: 100%;
    max-width: 1800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.visible-slide {
    opacity: 1;
}

.bio-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.bio-image {
    width: 220px;
    height: 220px;
    padding-right: 40px;
}

.bio-content {
    padding: 0;
}

.tab-header {
    padding-top: 40px;
}

.question {
    font-weight: 900;
}

/* webp sources */
.slide:nth-of-type(1) {
    background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1617587698/Office/ext_webp_e0i9yt.webp");
}
.slide:nth-of-type(2) {
    background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1617587698/Office/lobby_webp_b2c2dq.webp");
}
.slide:nth-of-type(3) {
    background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1617587700/Office/chair_webp_zxh5xu.webp");
}
.slide:nth-of-type(4) {
    background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1617587701/Office/ext2_webp_pgnrca.webp");
}
.slide:nth-of-type(5) {
    background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1617587699/Office/entry_webp_wecn7w.webp");
}
.slide:nth-of-type(6) {
    background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1617587701/Office/ext2_webp_pgnrca.webp");
}

/* IE (jpg alts) */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .slide:nth-of-type(1) {
        background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1616869338/Office/banner2_upvmht.jpg");
    }
    .slide:nth-of-type(2) {
        background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1616869343/Office/IMG_2358_x1ankb.jpg");
    }
    .slide:nth-of-type(3) {
        background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1616869346/Office/IMG_2359_b3l2mo.jpg");
    }
    .slide:nth-of-type(4) {
        background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1616871126/Office/IMG_2380-min_vpelgv.jpg");
    }
    .slide:nth-of-type(5) {
        background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1616869345/Office/IMG_2363_gndjbp.jpg");
    }
    .slide:nth-of-type(6) {
        background-image: url("https://res.cloudinary.com/akisiel/image/upload/v1616869343/Office/IMG_2357_mpuu7q.jpg");
    }
}

.accordion {
    background-color: lightgray;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    border: none;
    width: 100%;
    padding: 40px;
}

a.acc-panel {
    text-align: left;
    padding: 25px 0;
}

.accordion:hover {
    background-color: #e3e3e3;
    transition: .2s;
}

.update-date {
    text-decoration: underline;
    text-align: left;
    font-size: 18px;
    font-weight: initial;
}

@media (max-width: 1800px) {

    body {
        background-color: #224;
    }

    #slideshow-bob {
        padding-top: 0;
    }

    #navbar>button {
        font-size: 12px;
    }

    .tab-content {
        padding: 15px;
    }
}

@media (max-width: 995px) {

    .slide {
        height: 400px;
        width: 100%;
    }

    #bordered {
        margin-top: 400px;
    }

    #navbar {
        display: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 4;
    }

    #mobile-menu {
        display: block;
        margin-left: auto;
        margin-right: 25px;
        cursor: pointer;
    }

    #navbar>button {
        font-size: 18px;
    }

    .tabl {
        width: 100%;
        display: none;
        transition: .2s;
    }

    #mobile-navbar {
        display: flex;
        flex-direction: column;
        z-index: 4;
        position: absolute;
        width: 100%;
    }

    .bio-container {
        flex-direction: column;
    }

    .bio-image {
        padding: 0;
        margin: auto;
    }

    .bio-content {
        padding-top: 25px;
    }

    .accordion {
        font-size: 16px;
        border-bottom: 1px solid black;
    }

    #divider {
        display: none;
    }
}

@media (max-width: 620px) {
    #KFD {
        font-size: 24px;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    .page-header {
        font-size: 24px;
    }
}